<app-create-content (newContentEvent)="addContentToParent($event)"></app-create-content>
<div class="search">
    <input #search>
    <button (click)="checkForTitle(search.value)">Check For Title</button>
 
    <div [class.success]="searchFlag" [class.fail]="!searchFlag"> {{ searchMessage }} </div>
  
  </div>
  
  <app-content-card *ngFor="let item of (gamesList | contentTypeFilter); first as isFirstGamesOnList" [class.first-games]="isFirstGamesOnList"
      [games]="item" class="notype" [class.found]="item.title == search.value"></app-content-card>
  
  <app-content-card *ngFor="let item of (gamesList | contentTypeFilter: 'Outdoor'); first as isFirstGamesOnList" [class.first-games]="isFirstGamesOnList"
                    [games]="item" class="Outdoor" [class.found]="item.title == search.value"></app-content-card>
  
  <app-content-card *ngFor="let item of (gamesList | contentTypeFilter: 'Indoor'); first as isFirstGamesOnList" [class.first-games]="isFirstGamesOnList"
                    [games]="item" class="Indoor" [class.found]="item.title == search.value"></app-content-card>
  
  





