mat-label {
    display: block;
    width: 10em;
    float: left; 
    clear: left; 
  }
  
  input {
    width: 10em;
    float: left;
  }

  mat-form-field {
      margin-left: 20px;
  }
  button {
      margin-left: 20px;
  }