<h3 class="title">
    {{ games?.title }}
</h3>

<div *ngIf="games?.imgURL; else defaultimgurl">
    <img  *ngIf="games?.imgURL" class="image" [src]="games?.imgURL">
</div>

<ng-template #defaultimgurl>
    <img src="http://www.onlylondon.properties/application/modules/themes/views/default/assets/images/image-placeholder.png" style="height: 300px; width:300px;" >
</ng-template>
<p>
    {{ games?.description }}
</p>
<div class="meta-data">
    <div class="creator">
        {{ games?.creator}}
    </div>
    <div *ngIf="games?.type" content-hover-affect underlinehovereffect="contenthoveraffect" class="games?.type">
        <b>{{ games?.type }}</b>
    </div>
    <div class="tags" content-hover-affect underlinehovereffect="tagsbold" *ngIf="games?.tags">
        <span class="tag" *ngFor="let tag of games?.tags">
            #{{ tag }}
        </span>
    </div>
</div>