<h3 class="title">
    {{ games?.title }}
</h3>
<img (click)="imageClicked()" *ngIf="games?.imgURL" class="image" [src]="games?.imgURL">
<p>
    {{ games?.description }}
</p>
<div class="meta-data">
    <div class="creator">
        {{ games?.creator}}
    </div>
    <div *ngIf="games?.type" content-hover-affect underlinehovereffect="contenthoveraffect" class="games?.type">
        <b>{{ games?.type }}</b>
    </div>
    <div class="tags" content-hover-affect underlinehovereffect="tagsbold" *ngIf="games?.tags">
        <span class="tag" *ngFor="let tag of games?.tags">
            #{{ tag }}
        </span>
    </div>
</div>