:host{
    border: 5px solid white;
    display: block;
    margin: 12px auto;
    padding: 12px;
    width: 300px;
    text-align: center;
}
:host.first-games{
    border: 2px solid black;
}
:host.notype{
    background-color:darkcyan;
}
:host.Outdoor{
    background-color:darkolivegreen;
}
:host.Indoor{
    background-color:indianred;
}
:host.found{
    border-color:lawngreen;
    border-width: 10px;
    border-style: dashed;
}
.image{
    width: 200px;
}
.tag{
    display: inline-block;
    border-radius: 12px;
    border: 1px solid brown;
    background-color:lightseagreen;
    margin: 11px;
    padding: 12px;
}

.contenthoveraffect {
    text-decoration: underline;
}

.tagsbold {
    font-weight: bold;
}