<mat-card *ngIf="games">
    <mat-card-header>
      <mat-card-title>{{ games?.title }} - {{ games?.creator }}</mat-card-title>
      <mat-card-subtitle appHoverAffect elementType="type" *ngIf="games?.type" class="games?.type">
        {{ games?.type }}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image (click)="imageClicked()" *ngIf="games?.imgURL" class="image" [src]="games?.imgURL">
    <img mat-card-image (click)="imageClicked()" *ngIf="!games?.imgURL" class="image"
      src="http://www.onlylondon.properties/application/modules/themes/views/default/assets/images/image-placeholder.png">
    <mat-card-content>
      <p>
        {{ games?.description }}
      </p>
      <mat-chip-list aria-label="Tags of the content" *ngIf="games?.tags">
        <mat-chip appHoverAffect elementType="tag" *ngFor="let tag of games?.tags">
          #{{ tag }}
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-actions>
      <app-modify-content-component [newContent]="games"></app-modify-content-component>
    </mat-card-actions>
  </mat-card>